body {
	font-family: Arial;
	width: 65%;
	margin: 0 auto;
}

header {
	border: 1px solid black;
	height: 50px;
}

aside {
	float: right;
	border: 1px solid red;
	display: flex;
}

section {
	border: 1px solid green;
	font-family: Tahoma;
	overflow: scroll;
}

footer {
	border: 1px solid blue;
}

.fav {
	background-color: orange;
}